
@{
    ViewData["Title"] = "Contact";
}

<h1 class="Contact">Contact</h1>
<h2 class="text-yellow-to-fade super-large-font">Travis Westcott</h2>
<h3>@ViewData["phone-number"]</h3>
<a href="mailto:westcott2436@msn.com">westcott2436@msn.com</a>


