@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div>
        <img src="Project-images/FintasticFishLogo.jpg" alt="Logo" style="float: right; width: 300px; height: 180px;">
    </div>
    <h2>Custom fish orders!</h2>
    <h3>Custom aquarium stands!</h3>
    <h4>Full hobbiest setups!</h4>
</div>


