@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div>
        <h1 class="page-top-banner">Fin-Tastic Fish</h1>
    </div>
    <div class="d-flex">
        <div class="home-page-text-layout">
            <p>
               Are you looking for a:<br>
               Custom fish order?<br>
               Custom aquarium stands?<br />
               Full hobbiest setups?
            </p>
        </div>
        <div class="home-page-text-layout">
            <p>
                <br>
               Lets get some fish ordered!<br>
               Stop by and get a quote!<br />
               We can get you setup!
            </p>
        </div>

    </div>
</div>


