@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div>
        <img src="Images/FintasticFishLogo.jpg" alt="Logo" class="logo-temp">
    </div>
    <h2>Custom fish orders!</h2>
    <h3>Custom aquarium stands!</h3>
    <h4>Full hobbiest setups!</h4>
</div>


