@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="gradient-header">
        <h1 class="gradient-text">Fin-Tastic Fish</h1>
    </div>
    <h2>We have a sale for the next 3 days!</h2>
    <h3>Please visit our site for details.</h3>
    <h4>I dont know what else to put in here!</h4>

</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonLight" data-bs-toggle="dropdown" aria-expanded="false">
        Default dropdown
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight">
        <li><a class="dropdown-item active" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>

    </ul>
</div>
