@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="outer-div">
        <div>
            <h1 class="page-top-banner">Fin-Tastic Fish</h1>
        </div>
    </div>
    <div class="home-container">
        <h1>What are you on the market for?</h1>
        <p class="home-index flex-item">Looking for specific fish? If they are not in stock, we can put together a custom order for you!<img src="/Images/discusHome.webp" alt="Alternate Text" /></p>
        <p class="home-index flex-item">You pets are hungry. We have a wide veriety of food for you aquatic pets!<img src="/Images/fishFood.jpg" alt="Alternate Text" /></p>
        <p class="home-index flex-item">OXYGEN... its important. Take a look at the plants that we have availible for your aquarium! <img src="/Images/homePantPic.jpg" alt="Alternate Text" /></p>
        <p class="home-index flex-item">Need some decorations? Looking to redo your setup? Starting from nothing. We can help you get your aquarium looking great!<img src="/Images/aquaDecor.jpg" alt="Alternate Text" /></p>
        <p class="home-index flex-item">Fish sick? Something off? Bring in a water sample and lets get you heading in the right direction for good clean fish and water!<img src="/Images/fishDoctor.jpg" alt="Alternate Text" /></p>
    </div>
</div>


