html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack flex items vertically */
    margin-bottom: 60px;
}

.Contact {
    color: #ee3535;
}

.text-yellow-to-fade {
    color: yellow;
    transition: color 2s linear;
}

.text-yellow-to-fade:hover {
    color: red;
}

.super-large-font {
    font-size:7em;
}
.responsive {
    width: 100%;
    height: auto;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}
.margin-left{
    margin-left: .5em;
}
.page-title {
    text-align: center;
    font-size: 6em;
}
.page-top-banner {
    font-size: 6em;
    text-align: center;
    background-image: linear-gradient(to right, blue,black,blue);
    border-radius: .1em;
    }


.gradient-header {
    background: darkblue;
    padding: 10px;
    text-align: center;
    border-radius: .5em;
}

.gradient-text {
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, yellow, yellow, red, yellow, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-text {
    color: black; /* Set text color to black */
    text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey; /* Apply white shadows to create the outline effect */
}
.fish-card-album-background {
    background-color: rgba(0, 0, 0, 0.0); /* transparent background */
}
.fish-card-background {
    background: black;
}
